body{
    background-image: url('download\ \(5\).jpg');
    color: white;
margin: 0;
padding: 0;
}

  #text-box {
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   a{
    overflow: hidden;
    text-decoration: none ;
    color: white;
  }
  nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 18px;
    font-weight: bold;
  }

  .menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .nav-links a:hover {
    text-decoration: underline;
  }
  
    @media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .menu-btn {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }

  footer > div {
    flex-direction: column;
    gap: 20px;
  }
}

   .pagination {
    text-align: center;
      margin-bottom: 20px;
    }

    .pagination button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 16px;
      margin: 5px;
      cursor: pointer;
      border-radius: 5px;
    }

    .gallery {
      display: grid;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
     grid-template-columns: repeat(4, 1fr);
     padding: 20px;
    
    }

    .card {
      background-color: black;
      padding: 10px;
      border-radius: 6px;
      width: 200px;
    }

    .card img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }

    .card-title {
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
    }
    footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
}

footer h3, footer h4 {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer form {
  margin-top: 10px;
}

footer form input {
  padding: 8px;
  margin-bottom: 8px;
  width: 80%;
  max-width: 250px;
}

footer form button {
  padding: 8px 12px;
  background-color: #2ecc71;
  color: white;
  border: none;
}

/* Footer Icons */
footer img {
  width: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

footer a + a {
  margin-left: 10px;
}